@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');

/* ======================Global started ====================== */

:root{
    --red:#DC1F27;
    --white:#fff;
    --p-text:#425066;
    --gray:#898989;
    --black:#000000;
    --light-gray:#777777;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
p{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}
.container{
    margin: auto;
    max-width: 1250px;
}
.button-block{
    display: block;
    text-align: center;
}
.heading{
    
    font-weight: 300;
    font-size: 40px;
    line-height: 60px;
}
.heading span{
    font-size: 48px;
    font-weight: 600;
    line-height: 72px;
    color: var(--red);

}
.section-p{
    padding:0 45px ;
}
.button-link{
    background-color: var(--red);
    color: var(--white);
    font-family: 'Roboto', sans-serif;
    padding: 15px 30px;
}
/* ======================Global started ====================== */

/* ======================Main started ====================== */

#main{
    background-image: url(img/background.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-position:center;
    background-position-y: -40px;
    background-size: cover;
    padding-top: 20px;
    z-index: -10;
    position: relative;
}

/* ======================Main end ====================== */

/* ======================Navbar started ====================== */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 16px;
    background-color: var(--white);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.navbar .nav-menu ul{
    display: flex;
    gap: 35px;
    justify-content: center;
    
}
.navbar .nav-menu ul li{
    list-style: none;
}

.navbar .nav-menu ul li a{
    text-decoration: none;
    color: var(--p-text);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
}

.navbar .login button{
    background-color: var(--red);
    padding: 5px 13px;
    border: none;
    border-radius: 4px;
}
.navbar .login button a{
    text-decoration: none;
    color: var(--white);
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

/* ======================Navbar End ====================== */

/* ======================Hero started ====================== */

#hero{
    display: flex;
    justify-content: space-between;
    
}
#hero .left-hero{
    width: 50%;
    padding-top: 82px;
    margin: 0 10px 0 50px;
    padding-left: 20px;
}
#hero .left-hero h2{
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    padding-right: 256px;
    color: var(--white);
}
#hero .left-hero h3{
    font-size: 18px;
    line-height: 27px;
    font-weight: 300;
    color: var(--white);
}
#hero .left-hero .online{
    display:flex;
    align-items: center;
    gap: 65px;
    position: relative;
    padding: 20px 0;
}
#hero .left-hero .online .l-img img:nth-child(2){
    position: absolute;
    left: 30px;
}
#hero .left-hero .online .l-img img:nth-child(3){
    position: absolute;
    left: 60px;
}
#hero .left-hero .online .l-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: var(--white);
    position: relative;
}
#hero .left-hero .online .l-text::before{
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #00FB0C;
    position: absolute;
    right: -20px;
    bottom: 5px;
}
#hero .left-hero .button-link{
    display: inline-block;
    border-radius: 4px;
}
#hero .left-hero .button-link h4{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
}
#hero .right-hero{
    display: flex;
    width: 50%;
    padding-top: 104px;
    position: relative;
}

#hero .right-hero .r-text .text-box{
    display: flex;
    gap: 17px;
    padding: 10px;
    background-color: var(--white);
    margin-bottom: 20px;
    margin-right: 360px;
    margin-left:0px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    filter: drop-shadow(0px 0px 10px #000000);
}
#hero .right-hero .r-text .text-box .text h4{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: var(--p-text);
}
#hero .right-hero .r-text .text-box .text p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #898989;
}
#hero .right-hero .r-text .text-box img{
    width: 32px;
    height:20px;
    align-items: center;
    margin: auto 0;
    
}


#hero .right-hero .r-img{
    z-index: -1;
    position: absolute;
    right: 0;
    top: 30px;
}
#hero .right-hero .r-img img{
    border: 10px solid var(--white);
    border-radius: 50%;
}

/* ======================Hero end ====================== */
/* ======================Service started ====================== */

#service{
    display: flex;
    margin-top: 30px;
    justify-content: flex-start;
    padding-bottom: 50px;
}
#service .left-heading{
    width: 46%;
    padding-right: 190px;
}
#service .right-service{
    width: 55%;
    display: flex;
    gap: 25px;
    margin-top: -70px;
    
}
#service .right{
    margin-top: -40px;
}
#service .service-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #E6F9FF;
    margin-bottom: 20px;
    padding: 15px 20px;
    box-shadow: 0px 0px 8px rgba(10, 116, 243, 0.25);
    border-radius: 4px;

}
#service .left .service-box:nth-child(2){
    background: #FFEBE6;
}
#service .right .service-box:nth-child(1){
    background: #FEF2E9;
}
#service .right .service-box:nth-child(2){
    background: #EAF3FE;
}

#service .service-box img{
    margin-bottom: 9px;
}
#service .service-box h2{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 9px;
}
#service .service-box p{
    font-size: 13px;
    line-height: 16px;
}
/* ======================Service End ====================== */

/* ======================Features started ====================== */

#features{
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    padding-top: 67px;
    padding-bottom: 140px;
}
#features .container{
    display: flex;
}
#features .container .left{
    width: 67%;
    position: relative;
}
#features .container .left .features-box{
    position: relative;
    display: inline-block;
    background: #FFFFFF;
    border: 0.8px solid #DDDDDD;
    box-shadow: 0px 12.6px 31.6px rgba(10, 116, 243, 0.15);
    padding: 27px 70px 50px 27px;
    border-radius: 10px;
    z-index: -1;
    margin-bottom: 60px;
}
#features .container .left .features-box img{
    display: flex;
    justify-content: flex-end;
}
#features .container .left .features-box .frame,
#features .container .left .features-box .girls-frame{
    position: absolute;
}
#features .container .left .features-box .girls-frame{
    right: 0px;
    bottom: 0px;
    padding: 16px 30px;
    border: 1px solid #F2F2F2;
    border-radius: 10px;
    filter: drop-shadow(0px 12.6px 31.6px rgba(52, 13, 69, 0.05));
    background: #FFFFFF;
    
}
#features .container .left .features-box .frame{
    width: 332px;
    height: 341px;
    right: -95px;
    bottom: -53px;
    z-index: -1;
}
#features .container .left .features-box .box{
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}
#features .container .left .features-box .box i{
    background-color: #C8C4E9;
    color: #6B5AD0;
    padding: 8px;
    font-size:25px ;
    border-radius: 50%;
    margin-right: 25px;
}
#features .container .left .features-box .box img{
    margin-right: 25px;
}

#features .container .left .float-box{
    position: absolute;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    filter: drop-shadow(0px 12.6px 31.6px rgba(52, 13, 69, 0.05));
    padding: 15px 28px 15px 16px;
    border: 1px solid #F2F2F2;
    border-radius: 10px;
    margin-left: 40px;

}
#features .container .left .float-box img{
    background-color: #1AA260;
    padding: 14px;
    border-radius: 10px;
    margin-right:16px ;
    
}
#features .container .left .float-box p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #1AA260;
}

#features .container .left .float-box:nth-child(2){
    right: 258px;
    top: -29px;
    padding-right: 50px;
}
#features .container .left .float-box:nth-child(2) img{
    background-color:#FF9A61;
}
#features .container .left .float-box:nth-child(2) p{
    color: #C34903;
    
}
#features .container .left .float-box:nth-child(3){
    right: 50px;
    top: 255px;
    padding-right: 50px;
}
#features .container .left .float-box:nth-child(3) img{
    background-color: var(--red);
}
#features .container .left .float-box:nth-child(3) p{
    color: var(--red);
    
}
#features .container .left .float-box:nth-child(1){
    right: 258px;
    top: -29px;
    padding-right: 50px;
}
#features .container .right{
    width: 33%;
}
#features .container .right p{
    font-weight: 400px;
    font-size: 16px;
    line-height: 24px;
}
#features .container .right .button-link{
    display: inline-block;
    border-radius: 4px;
    margin-top: 24px;
}
#features .container .right .button-link h4{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
}

/* ======================Features end ====================== */

/* Price List Section started*/
#pricelist{
    padding-top: 25px;
    padding-bottom: 67px;
    border: 1px solid #dddddd;
}
#pricelist .heading{
    text-align: center;
    margin-bottom: 27px;
}
#pricelist .pricedetailes{
    display: flex;

}
#pricelist .pricedetailes .left{
    width: 28%;
}
#pricelist .pricedetailes .left h3{
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 39px;
    color: var(--p-text);
}
#pricelist .pricedetailes .left .p-features{
    margin-top: 47px;
}
#pricelist .pricedetailes .left .p-features .f-box{
    display: flex;
    margin-bottom: 21px;
    align-items: center;
}
#pricelist .pricedetailes .left .p-features .f-box img{
    width: 43px;
    height: 40px;
    margin-right: 21px;
}
#pricelist .pricedetailes .left .p-features .f-box p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: var(--p-text);
}
#pricelist .pricedetailes .right{
    width: 62%;
    margin-left: 70px;
    padding-left: 30px;
}
#pricelist .pricedetailes .right .radio-wrapper{
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 20px 20px 20px 65px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(10, 116, 243, 0.25);
    border-radius: 10px;
}
#pricelist .pricedetailes .right .radio-wrapper input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
#pricelist .pricedetailes .right .radio-wrapper .checkmark{
    position: absolute;
    top: 45px;
    left: 9px;
    height: 26px;
    width: 26px;
    border: 1px solid #D9D9D9;
    background-color: #F9F9F9;
    border-radius: 50%;

}
#pricelist .pricedetailes .right .radio-wrapper:hover input ~ .checkmark,
#pricelist .pricedetailes .right .radio-wrapper:hover{
    background-color: #6B5AD0;
}

#pricelist .pricedetailes .right .radio-wrapper:hover h2,
#pricelist .pricedetailes .right .radio-wrapper:hover p{
    color: var(--white);
}

#pricelist .pricedetailes .right .radio-wrapper input:checked ~ .checkmark {
    background-color: #6B5AD0;
}
#pricelist .pricedetailes .right .radio-wrapper input:checked ~ .checkmark:after{
    display: block;
}
#pricelist .pricedetailes .right .radio-wrapper .checkmark:after{
    content: "";
    position: absolute;
    display: none;
}
#pricelist .pricedetailes .right .radio-wrapper input:hover ~ .checkmark:after{
    display: block;
}
#pricelist .pricedetailes .right .radio-wrapper .checkmark:after{
    top: 3px;
	left: 3px;
	width: 18px;
	height:18px;
	border-radius: 50%;
	background: white;
}


#pricelist .pricedetailes .right .button-link{
    display: inline-block;
    border-radius: 4px;
    margin-top: 24px;
    
}
#pricelist .pricedetailes .right.button-link h4{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}



/* Price List Section End*/

/* Sol Section Started*/

#sol{
    padding: 67px 0;
    border: 1px solid #dddddd;
}
#sol h2{
    text-align: center;
    padding-bottom: 36px;
}
#sol .solution{
    display: flex;
    flex-wrap: wrap;
}
#sol .solution .sol-box{
    width: 33%;
    padding: 28px 65px 39px 41px  ;
}
#sol .solution .sol-box img{
    width: 50px;
    height: 50px;
}
#sol .solution .sol-box h3{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}
#sol .solution .sol-box p{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}
#sol .solution .sol-box:nth-child(1),
#sol .solution .sol-box:nth-child(2),
#sol .solution .sol-box:nth-child(4),
#sol .solution .sol-box:nth-child(5){
    border-right: 1px solid #dddddd;
}
#sol .solution .sol-box:nth-child(1),
#sol .solution .sol-box:nth-child(2),
#sol .solution .sol-box:nth-child(3){
    border-bottom: 1px solid #dddddd;
}

#sol .button-link{
    display: inline-block;
    border-radius: 4px;
    margin-top: 24px;
    
}
#sol .button-link h4{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}


/* Sol Section End*/

/* rev Section started*/

#rev{
    padding: 67px 0;
}
#rev .heading{
    padding-bottom: 90px;
}
#rev h2,
#rev .title,
#rev .rev-star{
    text-align: center;
}
#rev .review{
    display: flex;
}
#rev .review .rev-box{
    width: 33%;
    margin-left: 30px;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(10, 116, 243, 0.25);
    padding: 0 17px 17px 17px;
}
#rev .review .rev-box img{
    display: block;
    margin: auto;
    margin-top: -70px;
}
#rev .review .rev-box h2{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}
#rev .review .rev-box .title{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #777777;
}
#rev .review .rev-box .rev-star i{
    font-size: 15px;
    color: #F5BF11;
}
#rev .review .rev-box hr{
    border-top: 1px dashed #DDDDDD;
}
#rev .review .rev-box .fa-quote-left{
    color: #000000;
    opacity: 0.1;
    font-size: 23px;
    padding-top: 10px;
}
/* rev Section end*/